@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow: hidden;
}

.sidebar {
  background-color: #11101d;
  position: fixed;
  left: 0;
  top: 0;
  width: 260px;
  height: 100%;
  transition: all 0.5s ease;
}

.sidebar .logo-details{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i{
  color: #fff;
  font-size: 30px;
}